*{
box-sizing: border-box;
}
.sans {
  font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 5;
}
.item{
  width: 18%;
  height: auto;
  margin: 5px;
}
